@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #1e1e1e;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

::selection {
  color: #000;
  background: #cd853f;
}
